@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body,
h1,
h2,
h3,
h4,
p,
a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
}

input {
    appearance: none;
}

:root {
    --main-color: white;
    --background-color: #89ACC0;
    --sub-color: #00446b;
    --main-text-color: white;
}

* {
    box-sizing: border-box;
}



body {
    font-family: 'Roboto';
    background-color: var(--background-color);
    font-weight: 300;
    color: var(--main-text-color);
}

#header {
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sub-color);
}

#header-image {
    width: 210px;
}

.nav {
    list-style-type: none;
}

.nav-item {
    display: inline;
    padding: 5px;
    font-size: 24px;
}

.nav-text {
    font-family: 'Roboto';
    font-weight: 300;
    color: var(--main-text-color);
}

.nav-text:visited {
    color: var(--main-text-color);
    text-decoration: none;
}

#reg {
    width:210px;
}

#content {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.sidebar {
    width: 210px;
    margin-right: 20px;
}

.genre-menu {
    
}

.genre-item {
    color: #1F80E8;
}

.genre-item:visited {
    color: #1F80E8;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    gap: 100px;
}


:root {
	--card-round-radius: 9px;
}

.card {
	border-top-left-radius: var(--card-round-radius);
	border-top-right-radius: var(--card-round-radius);
	border-bottom-left-radius: var(--card-round-radius);
	border-bottom-right-radius: var(--card-round-radius);
    width: 200px;
    position: relative;
    box-shadow: 3px 3px 5px 3px #02344f;
    background-color: #00446b;
    margin-bottom: 20px;
    bottom: 0px;
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
    bottom: 20px;
}


.card-image {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-position: 50% 50%;
	background-size: 100% 100%;
	margin-bottom: 5px;
    width: 200px;
    height: 300px;
}

.card-text-container {
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-text {
    color: white;
    text-align: center;
    font-size: 15px;
}

.card-price {
    text-align: right;
    color: #fffb00d7;
    font-weight: bold;
}

.card-button {
    float: right;
}

#footer {
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sub-color);
}

#footer-image {
    height: 100%;
}

#footer-text {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--main-text-color);
}