.content {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.left-sidebar {
    position: sticky;
    top: 50px;
    width: 200px;
    min-width: 200px;
    background-color: #86a2b97a;
    border-radius: 10px;
    margin-right: 40px;
    box-shadow: 3px 3px 5px 3px #6174857a;
    margin-left: 100px;
}

.filter-title-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    height: 30px;
    background-color: rgba(16, 15, 71, 0.2);
    margin-bottom: 20px;
}

.filter-title {
    text-align: center;
}

.genre-list {
    list-style-type: none;
    padding: 0;
    margin: 0 15px 15px;
}

.genre-item + .genre-item {
    margin-top: 10px;
}

.genre-item>a {
    color: #20598b;
}

.genre-item:hover {
    text-decoration: underline;
}

.clear-filters-button {
    text-align: right;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

:root {
	--card-round-radius: 9px;
}

.card-container {
    margin-right: 100px;
    margin-bottom: 120px;
}

.card {
	border-top-left-radius: var(--card-round-radius);
	border-top-right-radius: var(--card-round-radius);
	border-bottom-left-radius: var(--card-round-radius);
	border-bottom-right-radius: var(--card-round-radius);
    width: 200px;
    position: relative;
    box-shadow: 3px 3px 5px 3px #022a3f;
    background-color: #00446b;
    bottom: 0px;
    transition: 0.3s;
}

.card:hover {
    bottom: 20px;
}


.card-image {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	background-position: 50% 50%;
	background-size: 100% 100%;
	margin-bottom: 5px;
    width: 200px;
    height: 300px;
}

.card-text-container {
    padding: 0px 5px 0px;
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}

.card-text {
    color: var(--main-text-color);
    text-align: center;
    font-size: 15px;
}

.card-price-container {
    padding-right: 5px;
    height: 25px;
}

.card-price {
    text-align: right;
    color: #fffb00d7;
    font-weight: bold;
}
