.content {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.item-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #a7b9c4;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.main-text {
    color: #202F66;
    height: 25%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.desc {
    height: 75%;
    display: flex;
}

.desc .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buy-container {
    display: flex;
    justify-content: flex-end;
}

.price {
    margin-right: 20px;
    font-size: 30px;
    color: rgba(238, 46, 46, 0.877);
    font-weight: 1000;
}

.buy-button {
    width: 130px;
    height: 40px;
    padding-top: 7px;
    background-color: #7DEA93;
    color: #0C6D20;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #0C6D20;
}

.buy-button:hover {
    background-color: #5caf6c;
}

.desc-image {
    margin-right: 20px;
    box-shadow: 3px 3px 5px 3px #6174857a;
    border: 5px solid #ccc;
}

.desc-text {
    color: #222;
    font-size: 24px;
}
